[submodule "device_files/lightslib"]
	path = device_files/lightslib
	url = https://github.com/luke-wagner/L_LightsLib.git
	branch = esp32
[submodule "device_files/gameslib"]
	path = device_files/gameslib
	url = https://github.com/luke-wagner/L_GamesLib.git
	branch = esp32
[submodule "device_files/pacman"]
	path = device_files/pacman
	url = https://github.com/luke-wagner/L_PacmanGame.git
	branch = esp32
[submodule "device_files/espinput"]
	path = device_files/espinput
	url = https://github.com/luke-wagner/L_EspInput.git
[submodule "game_controller"]
	path = game_controller
	url = https://github.com/luke-wagner/ESP32-GameController.git
